In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
headdir = os.path.expanduser('~/Google Drive/Bas Zahy Gianni - Games')
datafile = os.path.join(headdir, 'Data/0_hvh/Clean/_summaries/model_input_with_groups.csv')

In [5]:
pd.read_csv(datafile, names=['subject', 'color', 'bp', 'wp', 'zet', 'rt', 'group'])

,subject,color,bp,wp,zet,rt,group
0,0,0,000000000000000000000000000000000000,000000000000000000000000000000000000,11,7223,5
1,1,1,000000000001000000000000000000000000,000000000000000000000000000000000000,24,5141,5
2,0,0,000000000001000000000000000000000000,000000000000000000000000100000000000,21,3154,5
3,1,1,000000000001000000000100000000000000,000000000000000000000000100000000000,31,5715,4
4,0,0,000000000001000000000100000000000000,000000000000000000000000100000010000,14,6837,3
5,1,1,000000000001001000000100000000000000,000000000000000000000000100000010000,33,8987,3
6,0,0,000000000001001000000100000000000000,000000000000000000000000100000010100,13,2020,4
7,1,1,000000000001011000000100000000000000,000000000000000000000000100000010100,12,4340,2
8,0,0,000000000001011000000100000000000000,000000000000100000000000100000010100,29,9471,1
9,1,1,000000000001011000000100000001000000,000000000000100000000000100000010100,5,5049,3
10,0,0,000000000001011000000100000001000000,000001000000100000000000100000010100,15,7365,4
11,1,1,000000000001011100000100000001000000,000001000000100000000000100000010100,16,3170,2
12,0,0,000000000001011100000100000001000000,000001000000100010000000100000010100,20,3125,3
13,1,1,000000000001011100001100000001000000,000001000000100010000000100000010100,2,2827,3
14,0,0,000000000001011100001100000001000000,001001000000100010000000100000010100,22,3169,1
15,1,1,000000000001011100001110000001000000,001001000000100010000000100000010100,23,3922,3
16,0,0,000000000001011100001110000001000000,001001000000100010000001100000010100,19,3977,4
17,1,0,000000000000000000000000000000000000,000000000000000000000000000000000000,33,9549,2
18,0,1,000000000000000000000000000000000100,000000000000000000000000000000000000,14,6832,5
19,1,0,000000000000000000000000000000000100,000000000000001000000000000000000000,22,5342,1
20,0,1,000000000000000000000010000000000100,000000000000001000000000000000000000,24,6654,1
21,1,0,000000000000000000000010000000000100,000000000000001000000000100000000000,30,13894,1
22,0,1,000000000000000000000010000000100100,000000000000001000000000100000000000,31,3560,5
23,1,0,000000000000000000000010000000100100,000000000000001000000000100000010000,34,13158,5
24,0,1,000000000000000000000010000000100110,000000000000001000000000100000010000,15,2047,4
25,1,0,000000000000000000000010000000100110,000000000000001100000000100000010000,13,9558,5
26,0,1,000000000000010000000010000000100110,000000000000001100000000100000010000,23,1365,2
27,1,0,000000000000010000000010000000100110,000000000000001100000001100000010000,7,8482,1
28,0,1,000000010000010000000010000000100110,000000000000001100000001100000010000,10,16508,4
29,1,0,000000010000010000000010000000100110,000000000010001100000001100000010000,20,16552,4
...,...,...,...,...,...,...,...
5452,39,1,000010000000100000000110000000000000,000000000000001100000001000000000000,16,14367,2
5453,38,0,000010000000100000000110000000000000,000000000000001110000001000000000000,13,10243,5
5454,39,1,000010000000110000000110000000000000,000000000000001110000001000000000000,17,2510,1
5455,39,0,000000000000000000000000000000000000,000000000000000000000000000000000000,21,3539,1
5456,38,1,000000000000000000000100000000000000,000000000000000000000000000000000000,14,15185,2
5457,39,0,000000000000000000000100000000000000,000000000000001000000000000000000000,20,3714,5
5458,38,1,000000000000000000001100000000000000,000000000000001000000000000000000000,22,5093,5
5459,39,0,000000000000000000001100000000000000,000000000000001000000010000000000000,6,4691,3
5460,38,1,000000100000000000001100000000000000,000000000000001000000010000000000000,15,13891,2
5461,39,0,000000100000000000001100000000000000,000000000000001100000010000000000000,13,4390,1
5462,38,1,000000100000010000001100000000000000,000000000000001100000010000000000000,5,23692,3
5463,39,0,000000100000010000001100000000000000,000001000000001100000010000000000000,3,18249,4
5464,38,1,000100100000010000001100000000000000,000001000000001100000010000000000000,23,27259,2
5465,39,0,000100100000010000001100000000000000,000001000000001100000011000000000000,32,11048,5
5466,38,1,000100100000010000001100000000001000,000001000000001100000011000000000000,24,18808,1
5467,39,0,000100100000010000001100000000001000,000001000000001100000011100000000000,25,12645,5
5468,38,1,000100100000010000001100010000001000,000001000000001100000011100000000000,7,69411,5
5469,39,0,000100100000010000001100010000001000,000001010000001100000011100000000000,31,9796,3
5470,38,1,000100100000010000001100010000011000,000001010000001100000011100000000000,30,11246,5
5471,39,0,000100100000010000001100010000011000,000001010000001100000011100000100000,34,61024,2
5472,38,1,000100100000010000001100010000011010,000001010000001100000011100000100000,33,8113,3
5473,39,0,000100100000010000001100010000011010,000001010000001100000011100000100100,19,18855,3
5474,38,1,000100100000010000011100010000011010,000001010000001100000011100000100100,18,4134,2
5475,39,0,000100100000010000011100010000011010,000001010000001100100011100000100100,12,55002,1
5476,38,1,000100100000110000011100010000011010,000001010000001100100011100000100100,27,23929,4
5477,39,0,000100100000110000011100010000011010,000001010000001100100011100100100100,2,36956,2
5478,38,1,001100100000110000011100010000011010,000001010000001100100011100100100100,1,28869,5
5479,39,0,001100100000110000011100010000011010,010001010000001100100011100100100100,11,13612,2
5480,38,1,001100100001110000011100010000011010,010001010000001100100011100100100100,29,4363,5
5481,39,0,001100100001110000011100010000011010,010001010000001100100011100101100100,10,2521,2